requests==2.28.1
certifi==2022.6.15
idna==3.3
charset-normalizer==2.1.0
urllib3==1.26.10
pytelegrambotapi==4.6.0
trio_websocket==0.9.2
trio==0.21.0
sniffio==1.2.0
async_generator==1.10
sortedcontainers==2.4.0
cffi==1.15.1
attrs==21.4.0
outcome==1.2.0
wsproto==1.1.0
pyOpenSSL==22.0.0
cryptography==37.0.4
PySocks==1.7.1
pycparser==2.21
h11==0.13.0
selenium==4.3.0
future==0.18.2
python-whois==0.8.0